<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weeg.dao.DevSecretKeyMapper" >
    <resultMap id="BaseResultMap" type="com.weeg.bean.DevSecretKey">
        <result column="imei" property="imei" jdbcType="VARCHAR" />
        <result column="keyname" property="keyname" jdbcType="VARCHAR" />
        <result column="keylength" property="keylength" jdbcType="VARCHAR" />
        <result column="keyvalue" property="keyvalue" jdbcType="VARCHAR" />
        <result column="defaultversion" property="defaultversion" jdbcType="VARCHAR" />
        <result column="devtype" property="devtype" jdbcType="VARCHAR" />
        <result column="usekeyname" property="usekeyname" jdbcType="VARCHAR" />
        <result column="devserial" property="devserial" jdbcType="VARCHAR" />
<!--        <result column="accountstatus" property="accountstatus" jdbcType="VARCHAR"/>-->
    </resultMap>

    <!--查询密钥信息 传入参数不同-->
    <select id="selectkeyvalueandname" resultType="com.weeg.bean.DevSecretKey">
       select imei as imei,
       keyname as keyname,
       keylength as keylength,
       keyvalue as keyvalue,
       defaultversion as defaultversion,
       devtype as devtype,
       usekeyname as usekeyname,
       devserial as devserial
       from devsecretkey
       where imei = #{imei,jdbcType=VARCHAR} and usekeyname = '0'
    </select>

    <!--查询设备密钥信息 根据3001上报的密钥版本 查询密钥参数-->
    <select id="selectkeyvalue" resultType="com.weeg.bean.DevSecretKey">
       select imei as imei,
       keyname as keyname,
       keylength as keylength,
       keyvalue as keyvalue,
       defaultversion as defaultversion,
       devtype as devtype,
       usekeyname as usekeyname,
       devserial as devserial
       from devsecretkey
       where keyname = #{keyname,jdbcType=VARCHAR} and devserial = #{devserial,jdbcType=VARCHAR}
       and imei = #{imei,jdbcType=VARCHAR} and usekeyname = '0'
    </select>
    <!--根据上报上来的密钥版本查询密钥信息-->
    <select id="selectSecretKeyvalue" resultType="com.weeg.bean.DevSecretKey">
       select imei as imei,
       keyname as keyname,
       keylength as keylength,
       keyvalue as keyvalue,
       defaultversion as defaultversion,
       devtype as devtype,
       usekeyname as usekeyname,
       devserial as devserial
       from devsecretkey
       where keyname = #{keyname,jdbcType=VARCHAR} and devserial = #{devserial,jdbcType=VARCHAR}
       and imei = #{imei,jdbcType=VARCHAR}
    </select>


    <!--查询密钥版本是否有新版本 did 2009 写命令执行-->
    <select id="selectkeyname" resultType="com.weeg.bean.DevSecretKey">
       select imei as imei,
       keyname as keyname,
       keylength as keylength,
       keyvalue as keyvalue,
       defaultversion as defaultversion,
       devtype as devtype,
       usekeyname as usekeyname,
       devserial as devserial
       from devsecretkey
       where devserial = #{devserial,jdbcType=VARCHAR} and imei = #{imei,jdbcType=VARCHAR} and keyname != '00'
    </select>

    <!--查询一次初始版本密钥信息 did 2009 写命令时，执行。用于初始化密钥信息用-->
    <select id="selectoldkeyvalue" resultType="com.weeg.bean.DevSecretKey">
       select imei as imei,
       keyname as keyname,
       keylength as keylength,
       keyvalue as keyvalue,
       defaultversion as defaultversion,
       devtype as devtype,
       usekeyname as usekeyname,
       devserial as devserial
       from devsecretkey
       where keyname = '00' and devserial = #{devserial,jdbcType=VARCHAR} and imei = #{imei,jdbcType=VARCHAR}
    </select>

    <!--did 2009 如果没有新版本密钥 执行插入新版本密钥命令-->
    <insert id="insertnewsecret" parameterType="com.weeg.bean.DevSecretKey">
        insert into devsecretkey (imei,keyname,keylength,keyvalue,defaultversion,devtype,usekeyname,devserial)
        values (#{imei,jdbcType=VARCHAR},#{keyname,jdbcType=VARCHAR},#{keylength,jdbcType=VARCHAR},#{keyvalue,jdbcType=VARCHAR},
        #{defaultversion,jdbcType=VARCHAR},#{devtype,jdbcType=VARCHAR},#{usekeyname,jdbcType=VARCHAR},#{devserial,jdbcType=VARCHAR})
    </insert>

    <!--更新新密钥为不启用   did 2009 写命令执行  同时更新keyname KeyValue keylength-->
    <update id="updatenewusekeynameclose">
        update devsecretkey set usekeyname = '1',keyname = #{keyname,jdbcType=VARCHAR},keyvalue = #{keyvalue,jdbcType=VARCHAR},keylength = #{keylength,jdbcType=VARCHAR}
        where imei = #{imei,jdbcType=VARCHAR} and devserial = #{devserial,jdbcType=VARCHAR} and keyname !='00'
    </update>
    <!-- 更新初始密钥为启用   did 2009 写命令执行-->
    <update id="updateoldusekeynameopen">
        update devsecretkey set usekeyname = '0' where imei = #{imei,jdbcType=VARCHAR} and devserial = #{devserial,jdbcType=VARCHAR} and keyname = '00'
    </update>



    <!--停用非当前上报的密钥   did 3001上报执行-->
    <update id="updateoldusekeynameclose">
        update devsecretkey set usekeyname = '1' where imei = #{imei,jdbcType=VARCHAR} and devserial = #{devserial,jdbcType=VARCHAR}
        and keyname != #{keyname,jdbcType=VARCHAR}
    </update>
    <!--更新新版本密钥为启用   did 3001上报执行-->
    <update id="updatenewusekeynameopen">
        update devsecretkey set usekeyname = '0' where imei = #{imei,jdbcType=VARCHAR} and devserial = #{devserial,jdbcType=VARCHAR}
        and keyname = #{keyname,jdbcType=VARCHAR}
    </update>

    <!--删除设备默认密钥 注销设备时执行-->
    <delete id="delSecretKey">
        delete from devsecretkey where devserial = #{serial,jdbcType=VARCHAR} and imei = #{imei,jdbcType=VARCHAR}
    </delete>


    <!--2009错误码返回00时调用，根据IMEI号,启用新版本密钥-->
    <update id="enableNewSecretKey">
        update devsecretkey set usekeyname = '0' where imei = #{imei,jdbcType=VARCHAR} and keyname != #{keyname,jdbcType=VARCHAR}
    </update>
    <!--修改成功，删除旧版本密钥，(不包含新密钥和默认版本密钥)-->
    <delete id="delOtherSecretKey">
        delete from devsecretkey where imei = #{imei,jdbcType=VARCHAR} and keyname != '00' and keyname != #{keyname,jdbcType=VARCHAR} and usekeyname != '0'
    </delete>
    <!--修改密钥失败，删除非默认的最新修改的版本-->
    <delete id="delNewSecretKey">
        delete from devsecretkey where imei = #{imei,jdbcType=VARCHAR} and keyname != '00' and keyname != #{keyname,jdbcType=VARCHAR} and usekeyname != '0'
    </delete>
    <!--停用非默认密钥-->
    <update id="disableUndefaultSecretKey">
        update devsecretkey set usekeyname = '1' where imei = #{imei,jdbcType=VARCHAR} and  keyname != '00'
    </update>

</mapper>